.home-landing {
  display: flex;
  justify-content: center;
  align-items: start; // ← Empieza justo debajo del header
  padding-top: 24px;
  height: 100%;
  box-sizing: border-box;
}

.contenido-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.descripcion {
  width: 90%;
  max-width: 600px;
  margin-bottom: 20px;
  text-align: center;
}

.acciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.card-opcion {
  width: 90%;
  max-width: 500px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.card-opcion:hover {
  transform: scale(1.03);
}